@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Poppins", sans-serif;
  
  --color-brand-purple: #7c3aed;
  --color-brand-white: #FFFFFF;
  --color-brand-light-purple: #f5f3ff;
  --color-brand-deep-purple: #4c1d95;
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-white;
  }
}
